:root{
    --primary-color: #222;
    --secondary-color: #ff9900;
    --color-three: #16263b;
    --color-four: #333;
    --color-five: #fff;
    --color-six: #ffde85;
    --color-seven: #63f0f2;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
    overflow-x: hidden;
}

/*NAVBAR*/
.nav{
    background-color: var(--primary-color);
    padding: 0px 0px;
    width: 100%;
    position: absolute;
    top: 0;
    position: fixed;
    z-index: 999;
}

.nav .bar a {
    float: right;
    display: inline-block;
    color: var(--secondary-color);
    border: 3px solid transparent;
    font-size: 1.5vw;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.5;
    padding: 1vw 1vw;
    text-decoration: none;
    margin-right: 0.5vw;
    position: relative;
    opacity: 0.8;
    transition: 0.5s;
}

.nav h1{
    background: -webkit-linear-gradient(#ff9900 , #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.7vw; 
    float: left;
    padding-top: 0.8vw;
    border: 3px solid transparent;
    transition: 0.5s;
}

.nav img {
	height:4.6vw;
	width:4.6vw;
	float:left;
	padding:0.5vw;
	padding-top:0.7vw;
	margin:auto;
	margin-left:1vw;
	transition:0.3s;
	position:relative;
}


.nav .bar a:hover {
    border-bottom-color: var(--secondary-color);
    opacity: 1;
}

.nav h1:hover{
    border-bottom-color: var(--secondary-color);
    opacity: 1;
}

/*HOME*/
.home{
    background-color: rgba(0,0,0,0.2);
    height: 55vw;
    width: 100%;
}

.home::before{
    position: absolute;
    background-attachment: fixed;
    background-image: url("images/bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: "";
    height: 55vw;
    width: 100%;
    z-index: -1;
}

.home h1{
    float: left;
    background: -webkit-linear-gradient(#000 , #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px #000; 
    font-size: 7vw;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 0.5vw;
    padding-top: 25vw;
    padding-left: 6vw;
}

.home h2{
    float: left;
    color: var(--color-six);
    -webkit-text-stroke: 2px var(--primary-color);
    font-size: 3.5vw;
    font-family: 'Acme', sans-serif;
    padding-left: 3.5vw;
}

/*ABOUT*/
.about{
    background-color: var(--color-six);
    width: 100%;
}

.about .icon-large{
    font-size: 9vw;
    width: 0.8vw;
    margin-left:44%;
    color: var(--primary-color);
    padding-top: 6vw;
}

.about .info{
	padding-top:0;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 2vw;
}

.about .info h2{
    color: var(--primary-color);
    font-size: 2.5vw;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 0.2vw;
}

.about .info p{
    color: var(--primary-color);
    font-size: 1.7vw;
    text-align: center;
    font-family: 'Playfair Display', serif;
    padding-bottom: 3vw;
}

/*FEATURES*/
.features{
    background-color: var(--color-three);
    width: 100%;
    padding: 5vw;
    padding-bottom: 7vw;
    padding-top: 7vw;
}

.features .container{
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    width: 80%;
    height: 0;
    padding-bottom: 40%;
    background: #4c4c4c;
    border: solid 10px #000;
}

.features .slide_img{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

.features .slide_img img{
    width: 100%;
    height: 100%;
}

#i1, #i2, #i3{
    display: none;
}

.features .pre, .nxt{
    width: 10%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: 99;
    cursor: pointer;
}

.features .pre{
    left: 0;
}

.features .nxt{
    right: 0;
}

.features .navb{
    width: 100%;
    height: 11px;
    bottom: 12%;
    position: absolute;
    text-align: center;
    z-index: 99;
}

.features .dots{
    top: -5px;
    width: 18px;
    height: 18px;
    margin: 0 4px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background: var(--color-seven);
    border: 3px solid #444;
}

.features .slide_img{
    z-index: -1;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three{
    z-index: 9;
}

#i1:checked ~ .navb #dot1,
#i2:checked ~ .navb #dot2,
#i3:checked ~ .navb #dot3{
    background: #666;
}

.features .ct .text {
  position: absolute;
  top: 27vw;
  left: 19vw;
  text-align: center;
  color: #000;
  font-size: 3vw;
  font-family: 'Bebas Neue', cursive;
}

.features .ct .text2{
  position: absolute;
  top: 27vw;
  left: 26vw;
  text-align: center;
  color: #fff;
  font-size: 3vw;
  font-family: 'Bebas Neue', cursive;
}

/*TEASER*/
.teaser{
    width: 100%;
    background-color: var(--color-six);
    padding: 5vw;
}

.teaser iframe{
    height: 40vw;
    width: 80vw;
    margin-left: 5vw;
    margin-top: 3vw;
}

/*FEEDBACK*/

/*FOOTER*/
.footer{
    width: 100%;
    background-color: var(--color-four);
}

.footer h1{
    text-align: center;
    background: -webkit-linear-gradient(#000 , #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px #000; 
    font-size: 7vw;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 0.5vw;
    padding-top: 7vw;
}

.footer h2{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 2vw;
    padding-top: 0.5vw;
    text-align: center;
    letter-spacing: 0.4;
}

.footer p{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.4;
    font-size: 1.5vw;
    text-align: center;
    padding-top: 0.3vw;
}