:root{
    --primary-color: #222;
    --secondary-color: #ff9900;
    --color-three: #333;
    --color-four: #7d7d7d;
    --color-five: #fff;
    --color-six: #ffde85;
    --color-seven: #8fd7ff;
    --color-eight: #f2b449;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
    overflow-x: hidden;
}

/*NAVBAR*/
.navb{
    background-color: var(--primary-color);
    padding: 7px 0px;
    width: 100%;
    position: absolute;
    top: 0;
    position: fixed;
}

.navb .bar a {
    float: right;
    display: inline-block;
    color: var(--secondary-color);
    border: 3px solid transparent;
    font-size: 1.5vw;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.5;
    padding: 1.5vw 3vw;
    text-decoration: none;
    margin-right: 0.5vw;
    position: relative;
    opacity: 0.8;
    transition: 0.5s;
}

.navb h1{
    background: -webkit-linear-gradient(#ffe980 , #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.7vw; 
    float: left;
    margin-left: 1.5vw;
    border: 3px solid transparent;
    transition: 0.5s;
}

.nav img {
	height:5vw;
	width:5vw;
	float:left;
	padding:0.5vw;
	padding-top:0.7vw;
	margin:auto;
	margin-left:1vw;
	transition:0.3s;
	position:relative;
}


.nav .bar a:hover {
    border-bottom-color: var(--secondary-color);
    opacity: 1;
}

.navb h1:hover{
    border-bottom-color: var(--secondary-color);
}

.nav img:hover {
	height:5.2vw;
	width:5.2vw;
}


/*HOME*/
.homepage{
    background-color: rgba(0,0,0,0.2);
    height: 55vw;
    width: 100%;
}

.homepage::before{
    position: absolute;
    background-attachment: fixed;
    background-image: url("images/bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: "";
    height: 55vw;
    width: 100%;
    z-index: -1;
}

.homepage h1{
    float: left;
    background: -webkit-linear-gradient(#000 , #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 5px #000; 
    font-size: 7vw;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 0.3vw;
    padding-top: 25vw;
    padding-left: 6vw;
}


/*ABOUT*/
.about{
    background-color: var(--color-six);
    width: 100%;
}

.about .icon-large{
    font-size: 9vw;
    width: 0.8vw;
    margin-left:44%;
    color: var(--primary-color);
    padding-top: 4vw;
    padding-top: 0.5vw;
}

.about .info{
	padding-top:0;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 5vw;
}

.about .info h2{
    color: var(--primary-color);
    font-size: 2.5vw;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 0.2vw;
}

.about .info p{
    color: var(--primary-color);
    font-size: 1.7vw;
    text-align: center;
    font-family: 'Playfair Display', serif;
}
